@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body
{
    font-family: 'Roboto', sans-serif;
}
a
{
    text-decoration: none;
}
.bookList{
    position: absolute;
    top: 50%;
    height: 100px;
    margin-top: -50px;
}
.booklist-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
    float: left;
    margin-left: 20px;
    
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.booklist-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.booklist-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.booklist-details {
    padding: 30px;
}

.booklist-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}
.card-title {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.subtitle{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.booklist-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.booklist-details h4 a:hover {
    color: #fbb72c;
}

.booklist-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.booklist-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.booklist-bottom-details div {
    float: left;
    width: 50%;
}

.booklist-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.booklist-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.booklist-links {
    text-align: right;
}

.booklist-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.booklist-links a:hover {
    color: #fbb72c;
}

/* css for the form */

.frm {
    width: 50%;
    position: relative;
    top: 25vh;
    /* left: 0vw; */
    /* transform: translate(45%, 300%); */
    margin: auto;
    display: flex;
}

@media screen and (max-width: 561px) {
    .frm {
        width: 70%;
    }
}

@media screen and (max-width: 492px) {
    .frm {
        width: 90%;
    }
}

.form-control {
    width: 80%;
    float: left;
}

.srcBtn {
    /* display: inline-block; */
    /* vertical-align: middle; */
    float: left;
}

.booktit {
    width: 50%;
    font-size: 48px;
    color: #696969;
    position: absolute;
    top: 10vh;
    left: 35vw;
    /* transform: translate(67%, 70%); */
    /* margin: auto; */
}






@media screen and (max-width: 492px) {
    .card-img-top {
        height: 25vh;
        min-width: 50%;
        transform: translateY(-15px);
        object-fit: none;
        margin-bottom: 10px;
    }
}













/* Page loader */
.loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #218838;
    border-bottom: 16px solid #218838;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 43.5vw;
    display: block;
    z-index: 9999;
  }
  
  @media screen and (max-width: 492px) {
    .loader {
        border: 8px solid #f3f3f3;
        border-radius: 50%;
        border-top: 12px solid #218838;
        border-bottom: 12px solid #218838;
        width: 80px;
        height: 80px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        position: absolute;
        left: 40vw;
        display: block;
        z-index: 9999;
      }
}

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  /* css to add the button  */

  .button {
    display: inline-block;
        background-color: #7b38d8;
        padding: 10px;
        width: 200px;
        color: #ffffff;
        text-align: center;
        border: #f0f0f0;
  }
  a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: green;
    color: white;
  }